# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
/.env
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*



# Build output
/build/
dist/

# Archivos de log
*.log

# Directorios de configuración de IDE
.vscode/
.idea/

# Archivos de caché de npm
.npm/

# Archivos de configuración de Yarn (si usas Yarn)
.yarn/

# Archivos generados por el editor (ej. VS Code)
.vscode/

# Archivos de configuración de macOS (solo si trabajas en Mac)
.DS_Store

# Archivos de configuración de Windows
Thumbs.db

# Archivos de configuración específicos de Linux
*.swp